# 作業一

In [1]:
import os
import numpy as mp
import pandas as pd

In [2]:
f_app = os.path.join('C:/Users/USER/Documents/GitHub/4th-ML100Days/homework', 'HomeCredit_columns_description.csv')
print('Path of read in data: %s' % (f_app))
HomeCredit_reader = pd.read_csv(f_app)

Path of read in data: C:/Users/USER/Documents/GitHub/4th-ML100Days/homework\HomeCredit_columns_description.csv

# 資料的row數以及column數

In [8]:
HomeCredit_reader.shape

(205, 7)

# 截取部分資料

In [5]:
HomeCredit_reader.head(10)

,Unnamed: 0,Table,Row,Description,Special,Unnamed: 5,Unnamed: 6
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN,NaN,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN,NaN,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN,NaN,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN,NaN,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN,NaN,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN,NaN,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN,NaN,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN,NaN,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN,NaN,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN,NaN,NaN

# 列出所有欄位

In [6]:
HomeCredit_reader.columns

Index(['Unnamed: 0', 'Table', 'Row', 'Description', 'Special', 'Unnamed: 5',
       'Unnamed: 6'],
      dtype='object')